@using Nac.Mvc.Utilities;
@model Invoice

@{
    var myObjectName = typeof(Invoice).Name;
    ViewData["Title"] = "New " + myObjectName;
    ViewData["UseDatatablesInsert"] = true;
}
<h2>Rechnung erstellen</h2>



<div class="d-flex flex-row">
    <div class="p-2">
        <div class="input-group">
            <span class="input-group-text" id="newCodeLabel">Bar Code:</span>
            <input id="newCode" type="text" class="form-control" autofocus placeholder="Bar Code String" aria-label="Bar Code" aria-describedby="newCodeLabel">
        </div>
    </div>
    <div class="p-2">
        <button id="btnAdd" type="button" class="btn btn-primary">Eingabe Bar Code</button>
    </div>
    <div class="p-2">
        <span id="sum" class=" p-3 mx-3 text-bg-warning fw-bold lead">
            Summe:
        </span>
    </div>
    <div class="p-2">
        <button id="btnPay" type="button" class="btn btn-primary">Bezahlen</button>
    </div>
</div>


<table id="myDataTable" class="table table-striped nowrap" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameForInnerType((Selling s) => s.FinalPrice)</th>
            <th>@Html.DisplayNameForInnerType((Selling s) => s.Quantity)</th>
            <th>@Html.DisplayNameForInnerType((Selling s) => s.PriceManual)</th>
            <th>@Html.DisplayNameForInnerType((Selling s) => s.Weight)</th>
            <th>Grund-@Html.DisplayNameForInnerType((Product p) => p.Price)</th>
            <th>@Html.DisplayNameForInnerType((Product p) => p.Name)</th>
            <th>@Html.DisplayNameForInnerType((Product p) => p.BarCode)</th>
            <th>@Html.DisplayNameForInnerType((Product p) => p.Category)</th>
            <th>@Html.DisplayNameForInnerType((Product p) => p.PriceReduced)</th>
        </tr>
    </thead>
</table>

<div asp-validation-summary="All" class="text-danger"></div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="finalizeDialog" tabindex="-1" aria-labelledby="finalizeDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label asp-for="Type" class="col-form-label"></label>
                        <select asp-for="Type" class="form-control" asp-items="@ControllerHelper.PaymentTypeSelectionList()" size="@ControllerHelper.PaymentTypeSelectionList().Count()"></select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Gesamtpreis:</label>
                        <input type="text" class="form-control bg-warning" id="inptTotalPrice" disabled value="">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Bar-Betrag:</label>
                        <input type="text" class="form-control" id="inptCashValue">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Rückgeld:</label>
                        <input type="text" class="form-control bg-primary text-light fw-bold fs-2" id="inptReturn" disabled value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                <button id="btnPaid" type="button" class="btn btn-primary">Bezahlt</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        let table;
        let idCounter = 1;
        let sum = 0.0;
        let columnsDefinition = [
            {
                data: "rowIdx", name: "CRUD", orderable: false,
                render: function (data, type) {
                    if (type === 'display') {
                        return `<a class="px-1 text-danger" href="javascript:remove(${data})"><i class="lead fas fa-trash"></i></a>`;
                    }
                    return data;
                }
            },
            {
                data: "finalPrice", name: "FinalPrice", orderable: false,
                render: DataTable.render.number(null, null, 2, '€')
            },
            { data: "quantity", name: "Quantity", orderable: false },
            {
                data: "priceManual", name: "PriceManual", orderable: false,
                render: DataTable.render.number(null, null, 2, '€')
            },
            { data: "weight", name: "Weight", orderable: false },
            {
                data: "price", name: "Price", orderable: false,
                render: DataTable.render.number(null, null, 2, '€')
            },
            { data: "name", name: "Name", orderable: false },
            { data: "barCode", name: "BarCode", orderable: false },
            { data: "category", name: "Category", orderable: false },
            {
                data: "priceReduced", name: "PriceReduced", orderable: false,
                render: DataTable.render.number(null, null, 2, '€')
            },
        ];

        $(document).ready(function () {
            table = $('#myDataTable').DataTable(
                {
                    info: false,
                    ordering: true,
                    paging: false,
                    order: [[0, 'desc']],
                    columns: columnsDefinition
                }
            );
            btnAdd = $("#btnAdd");
            newCodeInput = $("#newCode");
            sumField = $("#sum");
            payInptSum = $("#inptTotalPrice");
            payInptCash = $("#inptCashValue");
            payInptReturn = $("#inptReturn");
            btnPaid = $("#btnPaid");
            finalizeDialog = $("#finalizeDialog");

            $("body").on("click", "#btnAdd", addNewRow);
            $("body").on("click", "#btnPay", payment);
            $("body").on("keypress", "#finalizeDialog", captureKeyPressCash);
            $("body").on("keypress", "#newCode", captureKeyPressCode);
            $("body").on("click", "#btnPaid", finalize);
            $("body").on("input", "#inptCashValue", calcReturn);

            finalizeDialog[0].addEventListener('shown.bs.modal', () => {
                payInptCash.focus()
            })

        });

        function captureKeyPressCode(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                btnAdd.click();
            }
            if (event.code === 'NumpadSubtract') {
                event.preventDefault();
                payment();
            }
        }

        function captureKeyPressCash(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                btnPaid.click();
            }
        }

        function addNewRow() {
            //Reference the Name and Country TextBoxes.
            //var newCode = newCodeInput;

            // get product
            $.get(
                `@this.Url.Action(nameof(ProductsController.GetDetailsDataAsync).RemoveAsyncPostfix(), nameof(ProductsController).RemoveController())/${newCodeInput.val()}`,
                null, null,
                'json'
            ).done(newProductReceived)
                .fail(newProductFailed);
        }

        function newProductReceived(result) {
            // the result is currently a Product object and is going to be a Selling object,
            // therefore add the missing properties
            result.productId = result.id;
            // overwrite the Id, it has to be generated from DB for Selling object
            result.id = '00000000-0000-0000-0000-000000000000';
            result.invoiceId = '@Model.Id';
            result.quantity = 1;
            result.priceManual = 0.0;
            result.weight = 0;
            switch (result.category) {
                case 'Code':
                    result.finalPrice = result.price;
                    break;
                case 'Quantity':
                    result.quantity = doQuantity(result);
                    result.finalPrice = result.quantity * result.price;
                    break;
                case 'Price':
                    result.priceManual = doPrice(result);
                    result.finalPrice = result.priceManual;
                    break;
                case 'Weight':
                    result.weight = doWeight(result);
                    result.finalPrice = result.weight / 1000.0 * result.price;
                    break;
                default:
                    alert(`Keine gültige Kategorie für das Product '${result.name}'`);
                    break;
            }
            result.rowIdx = idCounter;
            table.row.add(
                result
            ).draw(false);
            idCounter++;

            // show sum
            sum = sumUpAllPrices();
            const sumString = sum.toLocaleString('de-DE', { style: 'currency', currency: 'EUR' });
            sumField.html(`Summe: EUR ${sumString}`);
            payInptSum.val(sumString);

            // Clear the TextBoxes.
            newCodeInput.val('');
        }

        function newProductFailed(r) {
            alert('Produkt nicht gefunden!');
        }

        function doQuantity(result) {
            let multiplier = 1;
            do {
                const val = prompt(`Wieviele '${result.name}'?`);
                multiplier = parseInt(val);
            }
            while (isNaN(multiplier));
            return multiplier;
        }
        function doPrice(result) {
            let price = 0.0;
            do {
                let val = prompt(`'${result.name}' kostet?`);
                val = val.replace(',', '.');
                price = parseFloat(val);
            }
            while (isNaN(price));
            return price;
        }
        function doWeight(result) {
            let weight = 0;
            do {
                let val = prompt(`'${result.name}' wiegt in GRAMM?`);
                weight = parseInt(val);
            }
            while (isNaN(weight));
            return weight;
        }

        function sumUpAllPrices() {
            const initialValue = 0;
            return table.data().reduce(
                (accumulator, currentValue) => accumulator + currentValue.finalPrice,
                initialValue
            );
        }

        function remove(rowIdx) {
            var rows = table
                .rows(function (idx, data, node) {
                    return data.rowIdx === rowIdx ?
                        true : false;
                });
            if (rows.length < 1) {
                alert('Nicht zum Löschen gefunden!');
                return;
            }
            if (!confirm(`Löschen von Kauf '${rows.data()[0].name}'? Kann nicht rückgängig gemacht werden!'`)) {
                return;
            }
            rows.remove().draw();
        }

        function payment() {
            if (table.data().count() <= 0) {
                alert('Noch keine Einkäufe vorhanden!');
                return;
            }
            // open modal dialog
            const myModal = new bootstrap.Modal('#finalizeDialog', {});
            myModal.show();
        }

        function calcReturn() {
            //let sum = payInptSum.val();
            //sum = sum.replace(',', '.');
            //const sumNum = parseFloat(sum);
            let cash = payInptCash.val();
            cash = cash.replace(',', '.');
            const cashNum = parseFloat(cash);
            payInptReturn.val((cashNum - sum).toLocaleString('de-DE', { style: 'currency', currency: 'EUR' }));
        }

        function finalize() {
            const postObject = { id: '@Model.Id', type: 2, sellings: table.data().toArray() };
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: `@this.Url.Action(nameof(InvoicesController.AddSellingsAsync).RemoveAsyncPostfix())/@Model.Id`,
                data: JSON.stringify(postObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                    window.location.href = '@this.Url.Action(nameof(InvoicesController.NewAsync).RemoveAsyncPostfix())';
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(`Error - ${xhr.status}: ${xhr.statusText}`);
                    alert(thrownError);
                }
            });
        }
    </script>
}