@model Invoice

@{
    var myObjectName = typeof(Invoice).Name;
    ViewData["Title"] = "New " + myObjectName;
    ViewData["UseDatatablesInsert"] = true;
}
<h2>Rechnung erstellen</h2>



<div class="d-flex flex-row">
    <div class="p-2">
        <button id="btnAdd" type="button" class="btn btn-primary">Eingabe Bar Code</button>
    </div>
    <div class="p-2">
        <div class="input-group">
            <span class="input-group-text" id="newCodeLabel">Bar Code:</span>
            <input id="newCode" type="text" class="form-control" placeholder="Bar Code String" aria-label="Bar Code" aria-describedby="newCodeLabel">
        </div>
    </div>
    <div class="p-2">
        <span id="sum" class=" p-3 mx-3 text-bg-warning fw-bold lead">
            Summe:
        </span>
    </div>
</div>


<table id="myDataTable" class="table table-striped nowrap" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameForInnerType((Selling s) => s.FinalPrice)</th>
            <th>@Html.DisplayNameForInnerType((Selling s) => s.Quantity)</th>
            <th>@Html.DisplayNameForInnerType((Selling s) => s.PriceManual)</th>
            <th>@Html.DisplayNameForInnerType((Selling s) => s.Weight)</th>
            <th>Grund-@Html.DisplayNameForInnerType((Product p) => p.Price)</th>
            <th>@Html.DisplayNameForInnerType((Product p) => p.Name)</th>
            <th>@Html.DisplayNameForInnerType((Product p) => p.BarCode)</th>
            <th>@Html.DisplayNameForInnerType((Product p) => p.Category)</th>
            <th>@Html.DisplayNameForInnerType((Product p) => p.PriceReduced)</th>
        </tr>
    </thead>
</table>

<div asp-validation-summary="All" class="text-danger"></div>


@*    <form>
        <label class="col-form-label">XXX</label>
        <input type="text" class="form-control" />
        <input type="button" id="btnAdd" value="Weiter" />
    </form>
*@

@section Scripts{
    <script type="text/javascript">
        let table;
        let idCounter = 1;
        let columnsDefinition = [
            {
                data: "rowIdx", name: "CRUD", orderable: false,
                render: function (data, type) {
                    if (type === 'display') {
                        return `<a class="px-1 text-danger" href="javascript:Remove(${data})"><i class="lead fas fa-trash"></i></a>`;
                    }
                    return data;
                }
            },
            { data: "finalPrice", name: "FinalPrice", orderable: false },
            { data: "quantity", name: "Quantity", orderable: false },
            { data: "priceManual", name: "PriceManual", orderable: false },
            { data: "weight", name: "Weight", orderable: false },
            { data: "price", name: "Price", orderable: false },
            { data: "name", name: "Name", orderable: false },
            { data: "barCode", name: "BarCode", orderable: false },
            { data: "category", name: "Category", orderable: false },
            { data: "priceReduced", name: "PriceReduced", orderable: false },
        ];

        $(document).ready(function () {
            table = $('#myDataTable').DataTable(
                {
                    info: false,
                    ordering: true,
                    paging: false,
                    order: [[0, 'desc']],
                    columns: columnsDefinition
                }
            );
            addBtn = $("#btnAdd");
            newCodeInput = $("#newCode");
            sumField = $("#sum");
        });

        $("body").on("click", "#btnAdd", addNewRow);
        $("body").on("keypress", "#newCode", pressEnter);

        function pressEnter(event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === 'Enter') {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                addBtn.click();
            }
            // If the user presses the "Enter" key on the keyboard
            if (event.code === 'NumpadSubtract') {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                //addBtn.click();
                Save();
                alert('Fertig')
            }
        }

        function addNewRow() {
            //Reference the Name and Country TextBoxes.
            //var newCode = newCodeInput;

            // get product
            $.get(`@this.Url.Action(nameof(ProductsController.GetProductAsync).RemoveAsyncPostfix(), nameof(ProductsController).RemoveController())/${newCodeInput.val()}`,
                null, null,
                'json'
            ).done(NewProductReceived)
                .fail(NewProductFailed);
        }

        function NewProductReceived(result) {
            result.quantity = 1;
            result.priceManual = 0.0;
            result.weight = 0;
            switch (result.category) {
                case 'Code':
                    result.finalPrice = result.price;
                    break;
                case 'Quantity':
                    result.quantity = doQuantity(result);
                    result.finalPrice = result.quantity * result.price;
                    break;
                case 'Price':
                    result.priceManual = doPrice(result);
                    result.finalPrice = result.priceManual;
                    break;
                case 'Weight':
                    result.weight = doWeight(result);
                    result.finalPrice = result.weight * result.price;
                    break;
                default:
                    alert(`Keine gültige Kategorie für das Product '${result.name}'`);
                    break;
            }
            result.rowIdx = idCounter;
            table.row.add(
                result
            ).draw(false);
            idCounter++;

            // show sum
            sumField.html(`Summe: EUR ${sumUpAllPrices()}`);

            // Clear the TextBoxes.
            newCodeInput.val('');
        }

        function NewProductFailed(r) {
            alert('Produkt nicht gefunden!');
        }

        function doQuantity(result) {
            let multiplier = 1;
            do {
                const val = prompt(`Wieviele '${result.name}'?`);
                multiplier = parseInt(val);
            }
            while (isNaN(multiplier));
            return multiplier;
        }
        function doPrice(result) {
            let price = 0.0;
            do {
                let val = prompt(`'${result.name}' kostet?`);
                val = val.replace(',', '.');
                price = parseFloat(val);
            }
            while (isNaN(price));
            return price;
        }
        function doWeight(result) {
            let weight = 0;
            do {
                let val = prompt(`'${result.name}' wiegt in GRAMM?`);
                weight = parseInt(val);
            }
            while (isNaN(weight));
            return weight;
        }

        function sumUpAllPrices() {
            const initialValue = 0;
            return table.data().reduce(
                (accumulator, currentValue) => accumulator + currentValue.finalPrice,
                initialValue
            );
        }

        function Remove(rowIdx) {
            var rows = table
                .rows(function (idx, data, node) {
                    return data.rowIdx === rowIdx ?
                        true : false;
                });
            if (rows.length < 1) {
                alert('Nicht zum Löschen gefunden!')
                return;
            }
            if (!confirm(`Löschen von Kauf '${rows.data()[0].name}'? Kann nicht rückgängig gemacht werden!'`)) {
                return;
            }
            rows.remove().draw();
        }

        function Save() {

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Home/InsertCustomers",
                data: JSON.stringify(table.data().toArray()),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
        }
    </script>
}