@using Nac.Lib.Utilities

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_Head" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <header>
        <partial name="Partials/_Menu"/>
    </header>
    
    <main role="main" class="my-5 py-4" @* add pt as well as mt to avoid hiding under navbar *@>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="bg-primary text-light p-2 mt-2 fixed-bottom">
        <div class="container-fluid">
            <div class="d-flex">
                <div class="">
                    @AssemblyProperties.GetCompany()
                    - @AssemblyProperties.GetCopyright() 
                    - @AssemblyProperties.GetAppName() 
                    - @("v" + AssemblyProperties.GetVersion()) 
                    - &nbsp;
                </div>
                <div class="">
                    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="ms-auto">
                    <a href="#" class="text-light">
                        <i class="fas fa-arrow-up h4"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <partial name="Partials/_JavaScriptFiles" />
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="Partials/_DataTablesJs" />

</body>
</html>
